#timeLimit {
    padding: 20px;
    .time-panel {
        .time-title {
            font-size: 30px;
            color: #F56C6C;
            margin-bottom: 10px;
           
        }
        .time-body {}
    }
}