#order_list {
    padding: 10px;
}

// .demo-table-expand {
//     font-size: 0;
// }
// .demo-table-expand label {
//     width: 90px;
//     color: #99a9bf;
// }
// .demo-table-expand .el-form-item {
//     margin-right: 0;
//     margin-bottom: 0;
//     width: 50%;
// }
.table-head {}

.table-head-call {}

.goods-list {
    padding: 0;
    background-color: #f6f6f6;
    .goods-item {
        padding: 20px;
        border-top: dashed 1px #ddd;
        &:last-child {
            border-bottom: dashed 1px #ddd;
        }
        img {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 3px;
        }
        .goods-info {
            display: inline-block;
            vertical-align: middle;
            max-width: 50%;
            line-height: 18px;
            .goods-title {
                display: inline-block;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    color: #F56C6C;
                }
            }
            .goods-money {}
        }
        .goods-count {
            border-left: solid 1px #ccc;
            padding-left: 5px;
            vertical-align: top;
        }
        .spec-list {
            .spec-item {
                padding-left: 5px;
            }
        }
    }
}

.godos-img-list {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 2px;
    .godos-img-count {
        padding-left: 10px;
    }
    .goods-img-mini {
        display: inline-block;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-left: -10px;
        box-shadow: 0px 0px 1px 1px rgba($color: #000000, $alpha: 0.3);
        vertical-align: middle;
        &:first-child {
            margin: 0;
        }
    }
}